<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/search.css"/>
</head>
<body>
    <header id="header">
      <h1>CS235 Pod Catalogue</h1>
      <div class="copyright">&copy; jeva477 | UPI2 | UPI3 (Write your full names or UPIs)</div>
    </header>
  <div class="main-body-grid">
        <div class="side-bar">
            <a href="{{ url_for('home', page = 1) }}"><p class="side-nav-text">Home</p></a>
            <a href="{{ url_for('catalogue') }}"><p class="side-nav-text">Catalogue</p></a>
            <a href="{{ url_for('podcastDescription', id = 1) }}"><p class="side-nav-text">Podcasts</p></a>
        </div>
        <div class="podcasts">
            <div class="Search">
                <input type="search" placeholder="Search..">
            </div>
            <div class="randomPods">
                {% for i in podcasts%}
                <div class="podcast-search-item">
                    <a href={{ url_for("podcastDescription", id = i.id) }}>
                        <img src={{ i.image }} alt="podcastimage">
                    </a>
                    <h3>{{i.title}}</h3>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>


</body>
</html>